apiVersion: v1
kind: Service
metadata:
  name: api-gateway-blue
  namespace: ecommerce
  labels:
    app: api-gateway
    version: blue
spec:
  type: ClusterIP
  selector:
    app: api-gateway
    version: blue
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
